<!DOCTYPE html>
<html>
<head>
  <title>Rock, Paper, Scissors</title>
  <link rel="stylesheet" href="/style.css"> 
  <!-- sinatra looks in public folder -->
</head>
<body>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about-us">About Us</a></li>
  </ul>
</nav>
<%= yield %> 
</body>
</html>